/* David Zhou ICS2O7-O2 */
body
{
	background-image: url(../Pictures/Tree2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 5%;

}

h1
{
	color: gold;
}

h2
{
	color: gold;
}

p
{
	text-align: left justify;
	font-size: 14pt;
	font-weight: bold;
	outline: yellow;
	color: aquamarine;
}